/* Font links for future use
font-family: 'Source Sans Pro';font-size: 22px;
font-family: 'Montserrat';font-size: 22px;
font-family: 'Chakra Petch';font-size: 22px;
*/
/* this makes sure that all elements are sized in an intuitive way */

* {
  box-sizing: border-box;
} 

body {
    background-color: rgba(0, 16, 48, 1);
    max-width: 1500px;
    margin: auto;
    color: white;
}

/* this changes the background colour for the Info hub page (because I want it a different colour) */
.infobackground {
    background-color: rgba(27, 33, 46, 1);
}

/* Fonts and Sizes */
p {
    font-family: 'Source Sans Pro';font-size: 14px;
}

h1 {
    font-family: 'Montserrat';font-size: 22px; 
}

a{ 
    text-decoration: none;
    color: white;
}

/* This provides spacing between each section */
section {
    margin-top: 20px;
    margin-bottom: 20px;
}





















/*HEADER*/

/* Navigation bar */
.navigation {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0; 
    background-color: rgba(7, 16, 35, 1);
}

.navigation a {
    text-decoration: none;
    font-family: 'Montserrat';font-size: 22px;
    display: block;
    padding: 1em;
    color: white;
}

/* changes colour of current page */
a.blue {
    color: rgba(127, 221, 244, 1);
}

/* Changes background of link when hover */
.navigation a:hover {
    background-color: rgba(27, 45, 84, 1);
}

/* hides hover for GG Logo */
a.nohover:hover {
    background-color: rgba(7, 16, 35, 1);
}

/* Resizes text when the screen size is 950px or below */
@media all and (max-width: 950px) {
    .navigation {
        justify-content: space-around;
  }
    .navigation a {
        font-size: 16px;
    }
}

/* Changes navigation bar to vertical bar when the screen size is 720px or below */
@media all and (max-width: 720px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
      font-size: 22px;
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(27, 45, 84, 1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }    
}

.imagecaption {
    position: relative;
}

.captiontext {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: -5px;
    color: rgb(230, 230, 230);
}

.captiontext p {
    font-size: 10px;
}























/* HOMEPAGE */

/* SECTION ONE HOMEPAGE */
/* Tells images to respond to their space*/
.responsive {
    width: 100%;
    height: auto;
}

/*Section two HOMEPAGE */
.sectiontwo {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
}

.oneleft {
    background: rgb(65, 87, 140);
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
    color: white;
    text-align: center;
}

.oneright {
    padding: 5px;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.imagehold {
    position: relative;
}

.textblock {
    position: absolute;
    bottom: 20%;
    right: 20px;
    padding-left: 60%;
    padding-right: 20px;
}


/*Section three HOMEPAGE */
.community {
    position: relative;
    text-align: center;
    color: white;

}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chakra {
    font-family: 'Chakra Petch';font-size: 90px;
    margin: 0;
}

    
/* TKA EME THERE COMMUNITY BUTTON */
.button {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: transparent;
    color: rgb(127, 221, 244); 
    border: 2px solid #ffffff;
    font-family: 'Montserrat';font-size: 22px;    
}

.button a:hover{
    color: black;
}

.button:hover {
    color: black;
    background-color: rgb(127, 221, 244);
}


/* SECTION FOUR HOMEPAGE */
.flex-container { /*parent */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.flex-item { /*child */
    background-color: rgb(27,45,84);
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-item h1 { /*removes space before and after heading */
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

.flex-item p { /*removes space before and after paragraph */
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}


/* RESPONSIVE*/
@media screen and (max-width: 1178px) {
    .game {
        width: 600px;
    }
    
    .textblock {
        position: absolute;
        bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        right: 0;
    }
}

/* RESPONSIVE*/
@media screen and (max-width: 828px) {
    .sectiontwo {
        flex-flow: column wrap;
        padding: 0;
        align-items: center;
        justify-content: center;
  }
  .oneleft, .oneright {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(27, 45, 84, 1);
      flex-grow: 1;
      margin: 0px;
      margin-top: 10px;
      width: 100%;
      border-top: 1px solid rgba(7, 16, 35, 1);
    }
    
    .textblock {
        position: absolute;
        bottom: 20%;
        padding-left: 85px;
        padding-right: 85px;
    }
    .game {
        width: 100%;
    }
}

@media all and (max-width: 720px) {
    .flex-container {
        flex-flow: column wrap;
        padding: 0;
        align-items: center;
        justify-content: center;
  }
  .flex-item {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(27, 45, 84, 1);
      flex-grow: 1;
      width: 100%;
      border-top: 1px solid rgba(7, 16, 35, 1);
  }  
    .flex-item h1 { /*removes space before and after heading */
    margin-bottom: 0px;
    padding: 0px;
    font-size: 19px;
    }

.flex-item p { /*removes space before and after paragraph */
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    }

}

/* RESPONSIVE*/
@media screen and (max-width: 700px) {
    .chakra {
        font-family: 'Chakra Petch';font-size: 30px;
    }
    
     .centered {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -20%);
    }
}

@media screen and (max-width: 499px) {
    .oneright {
        display: flex;
    }
    .textblock {
        position: static;
        padding-left: 10px;
        padding-right: 10px;
    }
    .oneleft {
        margin: 0;
    }
    .community {
        display: flex;
        flex-direction: column;
    }
    
    .centered {
        position: static;
        top: 0;
        left: 0%;
        transform: none;       
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
}





















/* FOOTER */

/* Gives the h2 header some classiness */
h2 {    
    font-family: 'Montserrat';font-size: 16px;
}

footer a {
    color: white;
}

/*PARENT*/
.footerbox {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

/*CHILD*/
.footercolumn {
    margin: 10px;
}

.footercolumn p {
    margin: auto;
    font-family: 'Montserrat';font-size: 12px;
}

footer {
    background-color: black;
}

/*RESPONSIVE FOOTER */
@media all and (max-width: 820px) {
    .footercolumn img {
        max-width: 48px;
    }
}

/*SMALLER RESPONSIVE FOOTER */
@media all and (max-width: 720px) {

    .footercolumn {
        text-align: center;
    }
    .footercolumn h1 {
        font-size: 14px;
        
    }
    
    .footercolumn h2 {
        font-size: 14px;
    }
}























/* INFOHUB */

.infobox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/comp5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.infocards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    text-align: center;
    width: 250px;
    height: 250px;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.infosec2{
    display: flex;
}

.info2left{
    width: 60%;
}

.info2right {
    width: 40%;
    text-align: right;
    padding: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info2right p{
    font-size: 25px;
}

.info2right h1{
    font-size: 40px;
}

.info2right a{
    color: rgba(127, 221, 244, 1);
}

.newsparent {
    display: flex;
    justify-content: space-around;
}

.newschild {
    width: 400px;
}

@media all and (max-width: 1280px) {
    .info2right p{
        font-size: 15px;
        margin-top: -10px;
    }
    .newschild p{
        font-size: 12px;
    }
    .newschild h1 {
        font-size: 14px;
    }
}

@media all and (max-width: 870px) {
    .info2right h1 {
        font-size: 20px;
    }
}

@media all and (max-width: 830px) {
    .infosec2 {
        flex-flow: wrap;
    }
    .info2left, .info2right {
        width: 100%;
        text-align: center;
    }
    
    .infobox {
        flex-flow: wrap;
        align-items: center;
        background-image: none;
    }
    
    .infocards {
        width: 50%;
        border: 1px solid rgba(27, 45, 84, 1);
        margin: 0;
    }
    
}



















/* COMMUNITY */

.commcontain {
    display: flex;
    justify-content: space-around;
}

.commbox {
    width: 400px;
    /*removed height attribute as I found I didn't need it */
}

.headbox {
    position: relative;
    text-align: center;
}

.commheadtext {
    position: absolute;
    bottom: 18px;
    right: 16px;
}

.commheadtext h1 {
    font-size: 100px;
    margin: 0;
}

.newscontain {
    position: relative;
}

.newstext {
    position: absolute;
    bottom: 1px;
    /* Removed unecessary right property */
    background-color: rgba(27, 33, 45, 0.75);
    padding-left: 20px;
    padding-right: 20px;
}

@media all and (max-width: 900px) {
    .commheadtext h1 {
        font-size: 65px;
    }
    
    .newscontain {
        position: relative;
    }

    .newstext {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
        text-align: center;
    }

    .newscontain:hover .newstext {
        opacity: 1;
    }
    
    .newstext h1 {
        font-size: 14px;
    }
    
    .newstext p {
        font-size: 12px;
    }
}


@media all and (max-width: 600px) {
    .newstext p {
        display: none;
        margin: 0;
    }
    .newstext h1 {
        margin: 0;
        font-size: 14px;
    }
    
    .newstext {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

@media all and (max-width: 499px) {
    .commheadtext h1{
        font-size: 25px;
    }
}















/* ABOUT */

.aboutcontain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutright {
    text-align: end;
    margin-left: 60px;
    margin-right: 30px;
}

.aboutright p{
    font-size: 25px;
    line-height: 35px;
}

.aboutright h1 {
    font-size: 50px;
}

.aboutleft {
    padding: 70px;
}

.aboutleft img {
    max-width: 400px;
}

.interestedparent {
    position: relative;
}

.interestedchild {
    position: absolute;
    text-align: left;
    top: 5%;
    left: 30px;
    right: 900px;
    
}

.interestedchild p {
    font-size: 25px;
}

.interestedchild h1 {
    font-size: 50px;
}

.aboutheadtext {
    position: absolute;
    bottom: 18px;
    right: 16px;
}

.aboutheadtext h1 {
    font-size: 100px;
    margin: 0;
}

@media all and (max-width: 1310px) {
    .aboutleft img {
        max-width: 200px;
    }
    
    .aboutright p{
        font-size: 16px;
        line-height: normal;
    }
    
    .interestedchild p {
    font-size: 16px;
    }
    
    .interestedchild {
    right: 600px;
    }
    
    .interestedchild h1 {
        font-size: 25px;
    }
}

@media all and (max-width: 872px) {
    
    .interestedparent {
        display: flex;
        justify-content: center;
    }
    
    .interestedchild {
        right: 0px;
        left: 0px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }
    
    .aboutheadtext h1 {
        font-size: 65px;
    }
    .aboutright {
        margin-left: 30px;
    }
    .aboutleft {
        padding-right: 30px;
    }
}

@media all and (max-width: 650px) {
    .aboutcontain {
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutright {
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .justifiedparent {
        flex-wrap: wrap;
    }
    
    .interestedparent button{
        font-size: 13px;
    }
    
    .interestedparent p{
        font-size: 12px;
    }
    
    .interestedparent h1 {
        font-size: 15px;
    }
}

@media all and (max-width: 499px) {
    .interestedparent {
        display: flex;
        flex-direction: column;
    }
    
    .interestedchild {
        position: static;
    }
    
    .aboutheadtext h1{
        font-size: 30px;
    }
}



























/*Article page */

.articlepage {
    display: flex;
    justify-content: center;
}

.articlecol {
}

.articlecol p {
    max-width: 1300px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

.articlecol h1 {
    font-size: 35px;
    text-align: center;
}

.articlecol h2 {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.bigquote {
    text-align: center;
    font-size: 40px;
    font-family: 'Chakra Petch';
    background-color: rgba(7, 16, 35, 1);
    padding: 30px;
    max-width: 1500px;
}